.landing-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.landing-video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.landing-content {
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
