.landing-wrapper {
  position: relative;
  width: 100vw;
  min-height: 150vh;
  background-color: black;
}

.landing-video {
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
}

.landing-content {
  position: relative;
  text-align: center;
  padding-top: 40vh;
}
